<!-- Formulario para ver una tarea -->

<!-- Incluyo el header de Bootstrap -->
<%- include('../partials/head.ejs') %>
<!-- Incluyo la barra de navegación -->
<%- include('../partials/tasks/activeNav.ejs') %>
<div class="container pt-4 pb-5">
  <div class="view-user p-2">
    <div class="row mb-3">
      <div class="col text-center">
        <h3>Tarea buscada: <%= task.name %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Id proyecto</th>
              <th scope="col">Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.projectId %></td>
              <td><%= task.description %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="background-color: white">
        <div class="row">
          <b class="mt-3">Comentario:</b>
          <div class="mb-3"><%= task.comment %></div>
        </div>
      </div>
    </div>
    <div class="row">
      <a href="/activeTasks" type="button" class="btn btn-primary mt-3">
        <i class="bi bi-list-task"></i> &nbsp Volver</a>
    </div>
  </div>
</div>
<%- include('../partials/foot.ejs') %>
