<!-- Incluyo el header de Bootstrap -->
<%- include('../partials/head.ejs') %>
<!-- Incluyo la barra de navegaci칩n -->
<%- include('../partials/activeNav.ejs') %>

<div class="container pt-4 pb-2">
  <div class="row">
    <div class="col-9">
      <h1><%= titulo %></h1>
    </div>
    <div class="col-3 d-flex justify-content-around">
      <a
        href="/inactiveProjects"
        type="button"
        class="btn btn-primary align-self-center"
      >
        <i class="bi bi-arrow-90deg-down"></i> &nbsp Inactivos</a
      >

      <a
        href="/addProject"
        type="button"
        class="btn btn-primary align-self-center"
      >
        <i class="bi bi-list-task"></i> &nbsp Agregar</a
      >
    </div>
  </div>

  <table class="table table-primary table-bordered table-striped">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">id</th>
        <th scope="col">
          <a
            href="/activeProjects/?sort=name&order=ASC"
            type="button"
            class="btn btn-outline-primary"
            ><i class="bi bi-caret-up"></i
          ></a>
          &nbsp Nombre &nbsp
          <a
            href="/activeProjects/?sort=name&order=DESC"
            type="button"
            class="btn btn-outline-primary"
            ><i class="bi bi-caret-down"></i
          ></a>
        </th>
        <th scope="col">
          <a
            href="/activeProjects/?sort=priority&order=ASC"
            type="button"
            class="btn btn-outline-primary"
            ><i class="bi bi-caret-up"></i
          ></a>
          &nbsp Prioridad &nbsp
          <a
            href="/activeProjects/?sort=priority&order=DESC"
            type="button"
            class="btn btn-outline-primary"
            ><i class="bi bi-caret-down"></i
          ></a>
        </th>
        <!-- Repeat similar code for other columns -->
        <th scope="col">
          <a
            href="/activeProjects/?sort=description&order=ASC"
            type="button"
            class="btn btn-outline-primary"
            ><i class="bi bi-caret-up"></i
          ></a>
          &nbsp Descripci칩n &nbsp
          <a
            href="/activeProjects/?sort=description&order=DESC"
            type="button"
            class="btn btn-outline-primary"
            ><i class="bi bi-caret-down"></i
          ></a>
        </th>
        <th scope="col" style="width: 200px">Acci칩n</th>
      </tr>
    </thead>

    <tbody>
      <% projects.forEach(project => { %>
      <tr>
        <th scope="row" class="text-center"><%= project.id %></th>
        <td class="text-center"><%= project.name %></td>
        <td class="text-center"><%= project.priority %></td>
        <td class="text-center"><%= project.description %></td>
        <td class="text-center">
          <a
            href="/viewProject/<%= project.id %>"
            type="button"
            class="btn btn-primary btn-small"
            ><i class="bi bi-eye"></i>&nbsp</a
          >
          <a
            href="/modifyProject/<%= project.id %>"
            type="button"
            class="btn btn-success btn-small"
            ><i class="bi bi-pencil"></i>&nbsp</a
          >
          <form
            action="/inactivateProject/<%= project.id %>"
            method="POST"
            onsubmit="return confirm('Est치 seguro de desactivar el proyecto ?');"
            style="display: inline"
          >
            <button type="submit" class="btn btn-warning btn-small">
              <i class="bi bi-trash3"></i>&nbsp 
            </button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<!-- Incluyo el footer de Bootstrap -->
<%- include('../partials/foot.ejs') %>
